* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  color: #333;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background: #739ead;
  margin: 0;
}

nav {
  position: relative;
  width: 320px;
  margin: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  margin: -4px 0 0 0;
}

nav a {
  display: block;
  text-decoration: none;
  background: #fff;
  border-radius: 4px;
  padding: 1em 1.5em;
}

nav a:hover {
  background: #efefef;
}

nav .sub-menu a {
  font-size: 1em;
  color: #666666;
  border-left: 2em solid white;
  padding: 0.5em;
  background: linear-gradient(to right, #ddd 2px, #fff 2px);
  border-right: 10px solid gray;
}

nav .sub-menu a:hover {
  background: linear-gradient(to right, #ddd 2px, #efefef 2px);
}

nav header {
  font-weight: 600;
  display: block;
  background-color: rgba(104, 100, 100, 0.5);
  border-radius: 4px;
  padding: 1em 1.52em;
}

nav header span {
  border: none;
  background: transparent;
  font-size: 1.5em;
  padding: 0;
  cursor: pointer;
  line-height: 1;
  float: right;
}

nav footer button {
  position: absolute;
  top: 0;
  left: 0;
  border: none;
  width: 100%;
  transform-origin: 0 0;
  cursor: pointer;
  outline: none;
  background: #929090;
  opacity: 0;
}
