$layoutMarginLeft: 50px;

.layout {
  max-width: 1280px;
  margin: 0 auto;
}

.topBanner {
  display: flex;
  position: relative;
  height: 40px;
  background: #00c7f5;
  img {
    display: block;
    margin: 0 auto;
  }
  .closeBtn {
    color: white;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
  }
}

.header {
  display: flex;
  max-width: 1280px;
  margin-top: 20px;
  .titleWrap {
    display: flex;
    align-items: center;
    .title {
      cursor: pointer;
      font-size: 30px;
      margin-left: $layoutMarginLeft;
      margin-right: 20px;
    }
    .subTitle {
      font-weight: 600;
      margin-left: 20px;
      &.active {
        color: #00c7f5;
      }
    }

    .subTitle:hover {
      color: #00c7f5;
    }
  }
  .searchWrap {
    width: 20%;
    height: 30px;
    display: flex;
    position: relative;
    margin-left: 80px;
    .searchIcon {
      position: absolute;
      top: 7px;
      left: 5px;
    }
    input {
      padding-left: 25px;
      padding-right: 25px;
      width: 100%;
    }
    .searchBtn {
      position: absolute;
      top: 7px;
      right: 10px;
    }
  }
}

.categoryWrap {
  display: flex;
  justify-content: space-between;
  margin-left: $layoutMarginLeft;
  .category {
    display: flex;
    .subCategory + .subCategory {
      margin-left: 20px;
    }
    .subCategory {
      padding: 10px;
      font-weight: 500;
      .new {
        color: rgb(255, 117, 93);
      }
      &.active {
        color: #00c7f5;
        border-bottom: solid 2px #00c7f5;
      }
      &:hover {
        cursor: pointer;
      }
    }
  }
  .interior3D {
  }
}
